@font-face {
  font-family: 'Harrington'; /* This is an arbitrary name -- whatever works for you */
  src: url('HARRINGT.TTF') format('truetype');    
}



button{
  font-size: 100px;
  margin: 20px;
}

#downloadLink{
  font-size: 100px;
  color: blue;
}

#productSelect{
  font-size: 100px;
}

#a4Page{
  width: 500px;
  aspect-ratio: 1.414;
  border: 1px solid black;
}

.quarter{
  display:inline-block;
  margin:auto;
  float:left;
  box-sizing: border-box;
  width:50%;
  height:50%;
  border: 1px solid black;
  padding: 10px;
}

#border{ 
  box-sizing: border-box;
  width:100%;
  height:100%;
  border: 3px solid black;
  position:relative;
}

#title{
  margin: 5px;
  width:100%;
  text-align:center;
  font-family: harrington, sans-serif;
  font-weight: bold;
}

#blurb{
  margin: 0px;
  width:100%;
  text-align:center;
  font-family: arial, sans-serif;
  font-weight: regular;
  background-color: black;
  color: white;
  font-size: 12px;
}

#mainImage{
  height: 80px;
  float: right;
}

#logo{
  position:relative;
  width:60%;
  bottom:0;
}

